@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	border:0px;
 }
 body{
	font-size: 12px;
	text-align: center;
	line-height:24px;
	 }
#box div #footer {
	background-image: url(imges/dowm2.gif);
	background-position: right;
	height: 34px;
	width: 1003px;
}
#box div #footer {
	background-image: none;
}
h5{
	font-size: 14px;
	color: #FF9900;
	text-align: left;
}
li{
	font-size: 12px;
	list-style-type: none;
	list-style-image: url(../imges/dian.gif);
	background-image: url(../imges/left_bg.jpg);
	text-decoration: none;
}
p{
	font-size:12px;
	color:#666666;
}
h1{
	font-size:14px;
	color:#F00;
	text-align:left;
}
h4{
	color:#666666;
	font-size:12px;
	text-align:center;
}h2{
	background-image:url(../imges/red.jpg);
	height:29px;
	text-align:center;
	color:#FFF;
	line-height:28px;
}#siderbar ul li a {
	list-style-image: url(../imges/dian.gif);
	text-decoration: none;
}
.w{
	padding-top: 0.8cm;
	background-image: url(../imges/siderphoto.jpg);
}#div {
	background-image: url(../imges/siderphoto.jpg);
	height: 289px;
}
#w{
	padding-top:6cm;
}
.f {
	background-image: url(../imges/xyddaohang_100.jpg);
	background-repeat: repeat-x;
}
