@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-decoration: none;
 }
 body{
	font-size: 12px;
	text-align: center;
	line-height:18px;
	 }
#box div #footer {
	background-image: url(imges/dowm2.gif);
	background-position: right;
	height: 34px;
	width: 1003px;
}
li{
	font-size: 12px;
	text-decoration: none;
	background-image: url(../imges/left_bg.jpg);
	list-style-image: url(../imges/dian.gif);
}
p{
	font-size: 12px;
	color: #666666;
	line-height: 50px;
	font-weight: 500;
}
h2{
	background-image:url(../imges/red.jpg);
	height:29px;
	text-align:center;
	color:#FFF;
	line-height:28px;
}
#box {
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
}
#top {
	float: left;
	width: 1003px;
}
#logo {
	float: left;
	width: 365px;
	height: 124px;
}
#main {
	float: left;
	width: 986px;
}
#siderbar {
	float: left;
	width: 200px;
	padding-right: 10px;
	line-height: 25px;
}
#history {
	float: left;
	width: 686px;
}
#footer {
	width: 1003px;
	height: 34px;
	background-image: url(imges/dowm2.gif);
	background-position: right;
	margin-left:auto;
	margin-right:auto;
}
#nav{
	float:left;
	width:638px;
	height:39px;
	background-image:url(../imges/annu1.jpg);
	background-repeat:repeat-x;	
}
#nav li{
	float: left;
	height: 39px;
	width: 88px;
	list-style-type: none;
	list-style-image: none;
}
#nav li a{
	text-decoration:none;
	background-image:url(../imges/annu2.jpg);
	background-repeat:no-repeat;
	text-align:center;
	display:block;
	padding-top:12px;
	padding-bottom:12px;
	
}
#nav li a:link,#nav li a:visited{
	text-decoration:none;
	display:block;
	color:#000;
	font-weight:bold;
}
#nav li a:hover{
	background-image:url(imges/annu2.jpg);
	background-repeat:no-repeat;
	color:#999;
}

.w{
	padding-top: 2.5cm;
}
.redfont{
	color:red;
	font-size:14px;
	line-height: 20px;
	text-indent: 24px;
	font-weight:bold;
}#main1 {
	float:left;
	width: 321px;
}
#main2 {
	float: left;
	width: 365px;
	padding-top:75px;
}
h5{
	font-size: 12px;
	color: #666666;
	}
	#banner{
		float:left;
	height:85px;
	width:638px;
	background-image:url(../imges/banner.gif);
	background-repeat:no-repeat;
	}
#asd{
	margin-left:30px;
}
